<div class="container">
  <%= form_with model: @pet do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :address %>
    <%= f.text_field :address %>
    <%= f.label :species %>
    <%= f.select :species, collection: Pet::SPECIES %>
    <%= f.label :found_on %>
    <%= f.date_field :found_on %>
    <%= f.submit class: 'btn btn-success' %>
  <% end %>
</div>
